/* .radio {
    display: block;
} */

input[type="radio"] {
    width: 30px;
    height: 20px;
}
input[type="checkbox"] {
    width: 30px;
    height: 20px;
}
span {
    color: #222;
    font-weight: 700;
    font-size: 25px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.big {
    font-weight: bold;
    font-size: 35px;
}
.normal {
    font-weight: normal;
    font-size: 20px;
}